/* welcome */

.welcome{
    position: relative;
    text-align: center; 
}
/* Rectangle 3 */
.solarimg{
    width: 1920px;
    height: 1000px;
}
/* FIND YOUR RENEWABLE FUTURE... */
.headtitle{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 180px;
    
    color: #FFFFFF;     
}
