<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            
        </div>
        <div class="welcome">
            <div class="solarimg">
                <img src="solar.jpg" alt="">
            </div>
            <div class="headtitle">
                <h1>FIND YOUR</br>  
                    RENEWABLE FUTURE...</h1>
            </div>
        </div>
    </body>
</html>